.photo-galery__card {
  width: calc((100% - 15*6px) / 3);
  margin: 15px;
  cursor: pointer;
}

.photo-galery__card:before {
  content: "";
  padding-top: 100%;
  float: left;
}

.card__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__rating {
  position: absolute;
  text-align: center;
  cursor: pointer;
  width: 50px;
  height: 30px;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #4484CE;
  padding: 5px 0 0 0;
  margin: -7px 0 0 -7px;
  border-right: 3px solid #FFFFFF;
  border-bottom: 3px solid #FFFFFF;
}

.photo-galery__card:hover .card__rating {
  border-right: 3px solid #1c407d;
  border-bottom: 3px solid #1c407d;
}